<!-- CTA Section Start -->
<div class="rts-cta-area">
    <div class="container">
        <div class="cta-inner">
            <h2 class="title">If you have any questions Please Call.</h2>
            <div class="contact">
                <a href="tel:+16544521505">
                    <img src="/assets/images/cta/call.svg" alt="Call Icon">
                    +1-654-452-1505
                </a>
            </div>
            <img class="shape one" src="/assets/images/cta/round.svg" alt="Round Shape">
            <img class="shape two" src="/assets/images/cta/line.svg" alt="Line Shape">
        </div>
    </div>
</div>
<!-- CTA Section End -->
