<header class="header-three header--sticky">
    <div class="header-top">
        <div class="container">
            <div class="header-top-inner d-flex align-items-center justify-content-between">
                <div class="left d-flex align-items-center">
                    <div class="map-area">
                        <i class="rt-icon-phone-flip"></i>
                        <a href="tel:+12505550199">+12505550199</a>
                    </div>
                    <div class="map-area">
                        <i class="rt-icon-envelope"></i>
                        <a href="mailto:Autovault@gmail.com">Autovault@gmail.com</a>
                    </div>
                    <div class="map-area">
                        <i class="rt-icon-marker"></i>
                        <a href="#">280 Augusta Avenue, M5T 2L9 Toronto, Canada</a>
                    </div>
                </div>
                <div class="right">
                    <div class="social-area-transparent">
                        <ul class="d-flex align-items-center">
                            <li><a href="#"><img src="/assets/images/icon/x.svg" alt="Twitter"></a></li>
                            <li><a href="#"><img src="/assets/images/icon/in.svg" alt="LinkedIn"></a></li>
                            <li><a href="#"><img src="/assets/images/icon/f.svg" alt="Facebook"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="header-bottom">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-wrapper-1">
                        <div class="logo-area-start">
                            <a href="/" class="logo">
                                <img src="/assets/images/logo/logo.svg" width="99" alt="AutoVault Logo">
                            </a>
                        </div>
                        <div class="header-right d-block">
                            <div class="bottom d-flex align-items-center justify-content-between">
                                <div class="nav-area">
                                    <ul class="">
                                        <li class="main-nav">
                                            <a class="main-menu" href="/">Home</a>
                                        </li>
                                        <li class="main-nav">
                                            <a class="main-menu" href="/about">About Us</a>
                                        </li>
                                        <li class="main-nav">
                                            <a class="main-menu" href="/cars">Cars</a>
                                        </li>
                                        <li class="main-nav has-dropdown">
                                            <a class="main-menu" href="javascript:void(0)">Page</a>
                                            <ul class="submenu mega-menu parent-nav">
                                                <li><a href="/service">Service</a></li>
                                                <li><a href="/blog">Blog</a></li>
                                                <li><a href="/faq">FAQ</a></li>
                                                <li><a href="/sold-car">Sold Car</a></li>
                                                <li><a href="/team">Team</a></li>
                                                <li><a href="/calculator">Calculator</a></li>
                                                <li><a href="/car-dealer">Car Dealer</a></li>
                                                <li><a href="/account">Account</a></li>
                                            </ul>
                                        </li>
                                        <li class="main-nav"><a class="main-menu" href="/contact">Contact</a></li>
                                    </ul>
                                </div>
                                <div class="bottom-right">
                                    <div class="button-area">
                                        <a href="/account" class="rts-btn btn-border radius-small icon">
                                            Sign In
                                            <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M8.61999 10.96H5.49999C5.28445 10.96 5.10999 10.7856 5.10999 10.57C5.10999 10.3545 5.28445 10.18 5.49999 10.18H8.61999C9.26518 10.18 9.78999 9.65523 9.78999 9.01004V1.99004C9.78999 1.34485 9.26518 0.820039 8.61999 0.820039H5.49999C5.28445 0.820039 5.10999 0.645579 5.10999 0.430039C5.10999 0.214499 5.28445 0.0400391 5.49999 0.0400391H8.61999C9.69522 0.0400391 10.57 0.914809 10.57 1.99004V9.01004C10.57 10.0853 9.69522 10.96 8.61999 10.96ZM7.33572 5.22431L5.38572 3.27431C5.23336 3.12195 4.98662 3.12195 4.83426 3.27431C4.6819 3.42667 4.6819 3.67341 4.83426 3.82577L6.11853 5.11004H0.819993C0.604453 5.11004 0.429993 5.2845 0.429993 5.50004C0.429993 5.71558 0.604453 5.89004 0.819993 5.89004H6.11853L4.83426 7.17431C4.6819 7.32667 4.6819 7.57341 4.83426 7.72577C4.91044 7.80195 5.01015 7.84004 5.10999 7.84004C5.20983 7.84004 5.30954 7.80195 5.38572 7.72577L7.33572 5.77577C7.48808 5.62341 7.48808 5.37667 7.33572 5.22431Z" fill="#FF3600" />
                                            </svg>
                                        </a>
                                        <a href="#" class="rts-btn btn-primary radius-small icon">
                                            Add Car
                                            <svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M13.1528 6.00811L15.1813 5.18842C15.3309 5.10019 15.4978 5.04519 15.6706 5.02715C15.8434 5.00911 16.018 5.02844 16.1827 5.08385C16.3473 5.13926 16.4981 5.22943 16.6249 5.34826C16.7516 5.46709 16.8513 5.61179 16.9172 5.77255C16.9502 5.8559 17.0149 5.92278 17.0971 5.95859C17.1793 5.9944 17.2723 5.99621 17.3558 5.96363C17.4394 5.93106 17.5066 5.86674 17.5429 5.78474C17.5791 5.70274 17.5815 5.60972 17.5494 5.52601C17.3736 5.0788 17.0318 4.71681 16.5954 4.51566C16.159 4.31452 15.6617 4.28978 15.2075 4.44661L13.9709 1.86671C13.7783 1.50841 13.4892 1.21119 13.1364 1.00872C12.7836 0.806256 12.3811 0.706623 11.9746 0.72111H5.69838C5.29189 0.706618 4.88947 0.806252 4.5367 1.00872C4.18393 1.2112 3.89492 1.50842 3.70239 1.86671L2.46493 4.44766C2.18546 4.35271 1.88745 4.32546 1.5954 4.36816C1.30335 4.41085 1.02561 4.52228 0.785021 4.69326C0.544436 4.86424 0.347882 5.0899 0.211526 5.35167C0.0751708 5.61344 0.00291053 5.90384 0.00068986 6.19899C0.00224379 6.41916 -0.00051108 7.49933 0.000669637 7.74197V10.4673C0.000691269 10.6313 0.0634892 10.7891 0.176179 10.9083C0.288869 11.0275 0.442906 11.0991 0.606686 11.1083V12.2894C0.606965 12.5403 0.706713 12.7807 0.884052 12.9581C1.06139 13.1355 1.30184 13.2353 1.55266 13.2356H2.76668C3.01755 13.2353 3.25807 13.1356 3.43548 12.9582C3.61289 12.7808 3.71269 12.5403 3.71298 12.2894V11.1119H11.1124C11.2012 11.1101 11.2858 11.0735 11.3479 11.0101C11.41 10.9466 11.4448 10.8614 11.4448 10.7726C11.4448 10.6838 11.41 10.5985 11.3479 10.5351C11.2858 10.4717 11.2012 10.4351 11.1124 10.4333H5.53436C5.51034 10.2485 5.59193 10.0507 5.80241 10.0499H11.0104C11.0992 10.0481 11.1837 10.0116 11.2458 9.94815C11.308 9.88472 11.3428 9.79946 11.3428 9.71066C11.3428 9.62186 11.308 9.5366 11.2458 9.47317C11.1837 9.40974 11.0992 9.37319 11.0104 9.37137H5.80241C5.66848 9.37269 5.5363 9.40198 5.41435 9.45736C5.2924 9.51274 5.18337 9.59299 5.09424 9.69297C5.00511 9.79295 4.93786 9.91045 4.8968 10.0379C4.85573 10.1654 4.84176 10.3001 4.85577 10.4333C3.81305 10.4355 1.73428 10.4317 0.679253 10.4333V8.07632H2.76669C2.83334 8.07534 2.89825 8.05486 2.9534 8.01741C3.00855 7.97997 3.05153 7.9272 3.07704 7.86561C3.10255 7.80402 3.10947 7.73631 3.09694 7.67083C3.08442 7.60536 3.053 7.54499 3.00656 7.49716C2.49017 7.01359 1.85698 6.12142 1.05003 6.18392L0.681024 6.1839C0.684878 6.00118 0.730963 5.82183 0.81567 5.65989C0.900378 5.49794 1.02141 5.3578 1.1693 5.25042C1.31718 5.14304 1.48791 5.07134 1.66813 5.04092C1.84834 5.01051 2.03314 5.02221 2.20808 5.07511C3.0697 5.37141 4.8627 6.31875 5.78551 6.25667L11.8894 6.25664C12.3228 6.25738 12.752 6.17294 13.1528 6.00811ZM1.28528 11.1119H3.03442V12.2894C3.03435 12.3604 3.00612 12.4285 2.95592 12.4786C2.90573 12.5288 2.83767 12.557 2.7667 12.557H1.55267C1.48175 12.5569 1.41377 12.5287 1.36364 12.4785C1.31351 12.4284 1.28533 12.3604 1.28528 12.2894V11.1119ZM1.66864 7.11859L1.94763 7.39774H0.679263V6.86246C1.01671 6.8517 1.42423 6.84327 1.66864 7.11859ZM4.7756 5.37889L3.09538 4.70172L4.31438 2.15979C4.45333 1.91849 4.65589 1.72 4.89995 1.58596C5.14401 1.45192 5.4202 1.3875 5.69838 1.39971H11.9746C12.2529 1.38757 12.5291 1.45205 12.7733 1.5861C13.0174 1.72016 13.2201 1.91865 13.3592 2.15996L14.5773 4.70114L12.897 5.37974C12.5774 5.51116 12.235 5.57854 11.8894 5.57805H5.78552C5.43902 5.57912 5.09575 5.51143 4.7756 5.37889Z" fill="white" />
                                            </svg>
                                        </a>
                                    </div>
                                    <div class="menu-btn radius-small" id="menu-btn">
                                        <svg width="55" height="55" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect width="55" height="55" rx="15" fill="#FF3600" />
                                            <rect x="18" y="33" width="10" height="2" fill="#ffffff" />
                                            <rect x="18" y="26" width="20" height="2" fill="#ffffff" />
                                            <rect x="18" y="19" width="10" height="2" fill="#ffffff" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>