<!-- Testimonials Section Start -->
<section class="rts-testimonials-area rts-section-gap">
    <div class="container">
        <div class="section-title-area">
            <p class="sub-title wow fadeInUp" data-wow-delay=".1s" data-wow-duration=".8s">Testimonial</p>
            <h2 class="section-title wow move-right">What Our <span>Client</span> Says
            </h2>
        </div>
        <div class="section-inner mt--80">
            <div class="row align-items-center justify-content-end">
                <div class="col-xl-5 col-lg-6 wow fadeIn" data-wow-delay=".2s" data-wow-duration="1s">
                    <div class="left-side-image text-end">
                        <img src="/assets/images/testimonials/02.webp" width="423" alt="" class="main-image wow scaleIn" data-wow-delay=".5s" data-wow-duration="1.5s">
                        <img src="/assets/images/testimonials/01.webp" width="373" alt="" class="floating-img wow scaleIn" data-wow-delay=".5s" data-wow-duration="1.5s">
                    </div>
                </div>
                <div class="col-xl-7 col-lg-6">
                    <div class="slider-inner">
                        <div class="swiper testimonialSlider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="review-wrapper">
                                        <ul class="star-rating">
                                            <li><i class="rt-icon-star"></i></li>
                                            <li><i class="rt-icon-star"></i></li>
                                            <li><i class="rt-icon-star"></i></li>
                                            <li><i class="rt-icon-star"></i></li>
                                            <li><i class="rt-icon-star-sharp-half-stroke"></i></li>
                                        </ul>
                                        <p class="desc">
                                            Choosing Bokinn was one of the best decisions we've ever made. They
                                            have proven to be a reliable and innovative partner, always ready to
                                            tackle new challenges with and expertise.Their commitment to and
                                            delivering tailored.
                                        </p>
                                        <div class="author-area">
                                            <h6 class="title">Sarah Martinez</h6>
                                            <p class="designation">CEO of Apex Solutions</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="review-wrapper">
                                        <ul class="star-rating">
                                            <li><i class="rt-icon-star"></i></li>
                                            <li><i class="rt-icon-star"></i></li>
                                            <li><i class="rt-icon-star"></i></li>
                                            <li><i class="rt-icon-star"></i></li>
                                            <li><i class="rt-icon-star-sharp-half-stroke"></i></li>
                                        </ul>
                                        <p class="desc">
                                            Choosing Bokinn was one of the best decisions we've ever made. They
                                            have proven to be a reliable and innovative partner, always ready to
                                            tackle new challenges with and expertise.Their commitment to and
                                            delivering tailored.
                                        </p>
                                        <div class="author-area">
                                            <h6 class="title">Xavi Alonso</h6>
                                            <p class="designation">CEO of Apex Solutions</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="review-wrapper">
                                        <ul class="star-rating">
                                            <li><i class="rt-icon-star"></i></li>
                                            <li><i class="rt-icon-star"></i></li>
                                            <li><i class="rt-icon-star"></i></li>
                                            <li><i class="rt-icon-star"></i></li>
                                            <li><i class="rt-icon-star-sharp-half-stroke"></i></li>
                                        </ul>
                                        <p class="desc">
                                            Choosing Bokinn was one of the best decisions we've ever made. They
                                            have proven to be a reliable and innovative partner, always ready to
                                            tackle new challenges with and expertise.Their commitment to and
                                            delivering tailored.
                                        </p>
                                        <div class="author-area">
                                            <h6 class="title">Jamal Musiala</h6>
                                            <p class="designation">Founder of Apex Solutions</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="review-wrapper">
                                        <ul class="star-rating">
                                            <li><i class="rt-icon-star"></i></li>
                                            <li><i class="rt-icon-star"></i></li>
                                            <li><i class="rt-icon-star"></i></li>
                                            <li><i class="rt-icon-star"></i></li>
                                            <li><i class="rt-icon-star-sharp-half-stroke"></i></li>
                                        </ul>
                                        <p class="desc">
                                            Choosing Bokinn was one of the best decisions we've ever made. They
                                            have proven to be a reliable and innovative partner, always ready to
                                            tackle new challenges with and expertise.Their commitment to and
                                            delivering tailored.
                                        </p>
                                        <div class="author-area">
                                            <h6 class="title">Xavi Alonso</h6>
                                            <p class="designation">CEO of Apex Solutions</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="review-wrapper">
                                        <ul class="star-rating">
                                            <li><i class="rt-icon-star"></i></li>
                                            <li><i class="rt-icon-star"></i></li>
                                            <li><i class="rt-icon-star"></i></li>
                                            <li><i class="rt-icon-star"></i></li>
                                            <li><i class="rt-icon-star-sharp-half-stroke"></i></li>
                                        </ul>
                                        <p class="desc">
                                            Choosing Bokinn was one of the best decisions we've ever made. They
                                            have proven to be a reliable and innovative partner, always ready to
                                            tackle new challenges with and expertise.Their commitment to and
                                            delivering tailored.
                                        </p>
                                        <div class="author-area">
                                            <h6 class="title">Jamal Musiala</h6>
                                            <p class="designation">Founder of Apex Solutions</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-shape-area">
        <img src="/assets/images/category/shape/shape-01.svg" alt="">
    </div>
</section>
<!-- Testimonials Section End -->
