<!-- Video Section Start -->
<div class="rts-video-area bg-video-five bg_image jarallax">
    <video muted loop autoplay playsinline id="myVideo">
        <source src="/assets/images/portfolio/video-01.webm" type="video/webm">
        Your browser does not support the video tag.
    </video>
    <div class="content">
        <button id="myBtn" aria-label="Toggle Video Playback"></button>
    </div>
</div>
<!-- Video Section End -->
