<!-- Why Choose Us Area Start -->
<section class="rts-why-choose-us">
    <div class="right-image jarallax jara-mask-1">
        <img src="/assets/images/about/why-choose-bg.webp" width="886" class="jarallax-img" alt="Why Choose Us Background">
    </div>
    <div class="container">
        <div class="section-inner">
            <div class="row justify-content-end">
                <div class="col-lg-6">
                    <div class="content-area">
                        <div class="section-title-area">
                            <p class="sub-title wow fadeInUp" data-wow-delay=".1s" data-wow-duration=".8s">Why Choose Us</p>
                            <h2 class="section-title cw wow move-right">Why Choose <span>Us</span></h2>
                        </div>
                        <ul class="why-choose-feature-list mt--60">
                            <li class="wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1s">
                                <div class="icon">
                                    <img src="/assets/images/why-choose/icon-01.svg" alt="Competitive Pricing Icon">
                                </div>
                                <div class="content">
                                    <h6 class="title cw">Competitive Pricing</h6>
                                    <p class="desc">Whether you're looking for a brand-new model or a certified pre-owned vehicle, we have a diverse selection.</p>
                                </div>
                            </li>
                            <li class="wow fadeInUp" data-wow-delay=".4s" data-wow-duration="1s">
                                <div class="icon">
                                    <img src="/assets/images/why-choose/icon-02.svg" alt="24 Hour Support Icon">
                                </div>
                                <div class="content">
                                    <h6 class="title cw">24 Hour Support</h6>
                                    <p class="desc">Our team is always ready to help you around the clock with fast, responsive service.</p>
                                </div>
                            </li>
                            <li class="wow fadeInUp" data-wow-delay=".6s" data-wow-duration="1s">
                                <div class="icon">
                                    <img src="/assets/images/why-choose/icon-03.svg" alt="GPS Icon">
                                </div>
                                <div class="content">
                                    <h6 class="title cw">GPS on Every Vehicle</h6>
                                    <p class="desc">Every vehicle is equipped with GPS to ensure you're always on track and secure.</p>
                                </div>
                            </li>
                            <li class="wow fadeInUp" data-wow-delay=".8s" data-wow-duration="1s">
                                <div class="icon">
                                    <img src="/assets/images/why-choose/icon-04.svg" alt="Maintenance Icon">
                                </div>
                                <div class="content">
                                    <h6 class="title cw">Expert Maintenance</h6>
                                    <p class="desc">Our certified mechanics ensure every vehicle is in top condition, ready for your next journey.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Why Choose Us Area End -->