<!-- Breadcrumb area start -->
<div class="rts-breadcrumb-area service jarallax">
    <div class="container">
        <div class="breadcrumb-area-wrapper">
            <h1 class="title">Account</h1>
            <div class="nav-bread-crumb">
                <a href="/">Home</a>
                <a href="#" class="current">Account</a>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb area end -->

<!-- Contact Start -->
<div class="rts-contact-page-form-area rts-section-gapNew rts-section-gap account">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="mian-wrapper-form">
                    <div class="title-mid-wrapper-home-two sal-animate" data-sal="slide-up" data-sal-delay="150" data-sal-duration="800">
                        <h3 class="title">Login</h3>
                    </div>
                    <form id="login-form" action="/auth/login" method="post">
                        <input type="email" name="email" placeholder="Email Address or Username" required>
                        <input type="password" name="password" placeholder="Password" required>
                        <div class="checkbox">
                            <input type="checkbox" value="lsRememberMe" id="rememberMe"> 
                            <label for="rememberMe">Remember me</label>
                        </div>
                        <button type="submit" class="rts-btn btn-primary radius-small">Log In</button>
                        <div class="forgot-password">
                            <a href="/auth/forgot-password">Forgot Your Password?</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mian-wrapper-form">
                    <div class="title-mid-wrapper-home-two sal-animate" data-sal="slide-up" data-sal-delay="150" data-sal-duration="800">
                        <h3 class="title">Registration</h3>
                    </div>
                    <form id="register-form" action="/auth/register" method="post">
                        <input type="text" name="name" placeholder="Your Name" required>
                        <input type="email" name="email" placeholder="Email Address" required>
                        <input type="password" name="password" placeholder="New Password" required>
                        <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
                        <button type="submit" class="rts-btn btn-primary radius-small">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
