<!-- Breadcrumb area start -->
<div class="rts-breadcrumb-area portfolio-3 jarallax">
    <div class="container">
        <div class="breadcrumb-area-wrapper">
            <h1 class="title">Dealer List</h1>
            <div class="nav-bread-crumb">
                <a href="/">Home</a>
                <a href="#" class="current">Dealer</a>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb area end -->

<div class="rts-shop-area inner rts-section-gapTop">
    <div class="container">
        <div class="shop-filter-area">
            <p>Showing 1-9 of 19 results</p>
            <div class="select-area">
                <form class="select-2" method="get">
                    <select name="sort" class="my_select2">
                        <option value="latest" selected>Sort By Latest</option>
                        <option value="top">Top</option>
                        <option value="price_low">Price low to high</option>
                        <option value="price_high">Price high to low</option>
                        <option value="matching">Best Matching</option>
                    </select>
                </form>
            </div>
        </div>
        <div class="row g-5">
            <!-- Dealer Card Start -->
            <div class="col-lg-4 col-md-6">
                <div class="dealer-wrapper">
                    <div class="image-area">
                        <a href="/car-dealer-details"><img src="/assets/images/brand/08.webp" alt="Car Toys Dealer"></a>
                    </div>
                    <div class="content-area">
                        <h6 class="title"><a href="/car-dealer-details">Car Toys</a></h6>
                        <p>Our call center is available for live support Monday to Friday, 8 am - 4 pm PST.</p>
                        <div class="button-area">
                            <a href="/car-dealer-details" class="rts-btn btn-primary radius-small">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Dealer Card End -->

            <!-- Dealer Card Start -->
            <div class="col-lg-4 col-md-6">
                <div class="dealer-wrapper">
                    <div class="image-area">
                        <a href="/car-dealer-details"><img src="/assets/images/brand/09.webp" alt="Club Car Dealer"></a>
                    </div>
                    <div class="content-area">
                        <h6 class="title"><a href="/car-dealer-details">Club Car</a></h6>
                        <p>Our call center is available for live support Monday to Friday, 8 am - 4 pm PST.</p>
                        <div class="button-area">
                            <a href="/car-dealer-details" class="rts-btn btn-primary radius-small">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Dealer Card End -->

            <!-- Dealer Card Start -->
            <div class="col-lg-4 col-md-6">
                <div class="dealer-wrapper">
                    <div class="image-area">
                        <a href="/car-dealer-details"><img src="/assets/images/brand/10.webp" alt="Car Next Dealer"></a>
                    </div>
                    <div class="content-area">
                        <h6 class="title"><a href="/car-dealer-details">Car Next</a></h6>
                        <p>Our call center is available for live support Monday to Friday, 8 am - 4 pm PST.</p>
                        <div class="button-area">
                            <a href="/car-dealer-details" class="rts-btn btn-primary radius-small">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Dealer Card End -->
        </div>
        <a href="#" class="rts-btn load-more-btn btn-border">Load More</a>
    </div>
</div>

<!-- CTA Section -->
<div class="rts-cta-area area-2">
    <div class="container">
        <div class="cta-inner">
            <h2 class="title">If you have any questions Please Call.</h2>
            <div class="contact">
                <a href="tel:+16544521505">
                    <img src="/assets/images/cta/call.svg" alt="call icon">
                    +1-654-452-1505
                </a>
            </div>
            <img class="shape one" src="/assets/images/cta/round.svg" alt="shape">
            <img class="shape two" src="/assets/images/cta/line.svg" alt="shape">
        </div>
    </div>
</div>
