<!-- Error page area start -->
<div class="rts-error-area rts-section-gap">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="error-inner text-center">
                    <div class="thumbnail">
                        <img src="/assets/images/error/01.png" alt="error">
                    </div>
                    <div class="inner">
                        <h2 class="title mt--40">
                            <%= title %>
                        </h2>
                        <p class="disc">
                            <%= message %>
                        </p>
                        <a href="/" class="rts-btn btn-primary radius-small mt--30">Back To Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Error page area end -->

<!-- Contact section start -->
<div class="rts-contact-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="contact-inner">
                    <div class="row g-5">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="single-contact-one-inner">
                                <div class="thumbnail">
                                    <img src="/assets/images/contact/01.svg" alt="">
                                </div>
                                <div class="content">
                                    <div class="info">
                                        <span>Call Us 24/7</span>
                                        <a href="tel:+12505550199">+12505550199</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="single-contact-one-inner">
                                <div class="thumbnail">
                                    <img src="/assets/images/contact/02.svg" alt="">
                                </div>
                                <div class="content">
                                    <div class="info">
                                        <span>MAke A Quote</span>
                                        <a href="mailto:autovault@gmail.com">autovault@gmail.com</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="single-contact-one-inner">
                                <div class="thumbnail">
                                    <img src="/assets/images/contact/03.svg" alt="">
                                </div>
                                <div class="content">
                                    <div class="info">
                                        <span>Service Station</span>
                                        <a href="#">280 Augusta Avenue, Toronto</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact section end -->
