<!-- Breadcrumb area start -->
<div class="rts-breadcrumb-area portfolio-3 jarallax">
    <div class="container">
        <div class="breadcrumb-area-wrapper">
            <h1 class="title">Sold</h1>
            <div class="nav-bread-crumb">
                <a href="/">Home</a>
                <a href="#" class="current">Sold</a>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb area end -->

<!-- Pricing Start -->
<section class="rts-portfolio-area sold-car rts-section-gap">
    <div class="container">
        <div class="section-inner">
            <div class="row g-5">
                <!-- Sold Car Card Start -->
                <div class="col-lg-4 col-md-6">
                    <div class="project-wrapper2">
                        <div class="image-area">
                            <a href="/car-details/thunderbolt-car"><img src="/assets/images/portfolio/04.webp" alt="Thunderbolt Car"></a>
                            <span class="tag">Sold Out</span>
                            <a href="#" class="wishlist"><i class="fa-regular fa-heart"></i></a>
                            <a href="/assets/images/portfolio/04.webp" class="gallery-image">
                                <img src="/assets/images/icon/image.svg" alt="gallery">
                                7
                            </a>
                        </div>
                        <span class="price">14,000$</span>
                        <div class="content-area">
                            <h6 class="title"><a href="/car-details/thunderbolt-car">Thunderbolt Car</a></h6>
                            <ul class="feature-area">
                                <li>
                                    <img src="/assets/images/portfolio/feature-icon/01.svg" alt="mileage">
                                    100 Miles
                                </li>
                                <li>
                                    <img src="/assets/images/portfolio/feature-icon/02.svg" alt="fuel">
                                    Petrol
                                </li>
                                <li>
                                    <img src="/assets/images/portfolio/feature-icon/03.svg" alt="transmission">
                                    Automatic
                                </li>
                            </ul>
                            <div class="button-area">
                                <p class="">$400</p>
                                <a href="/car-details/thunderbolt-car" class="rts-btn btn-primary radius-small">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Sold Car Card End -->

                <!-- Sold Car Card Start -->
                <div class="col-lg-4 col-md-6">
                    <div class="project-wrapper2">
                        <div class="image-area">
                            <a href="/car-details/mercedes-benz-e-class"><img src="/assets/images/portfolio/05.webp" alt="Mercedes-Benz E-Class"></a>
                            <span class="tag">Sold Out</span>
                            <a href="#" class="wishlist"><i class="fa-regular fa-heart"></i></a>
                            <a href="/assets/images/portfolio/05.webp" class="gallery-image">
                                <img src="/assets/images/icon/image.svg" alt="gallery">
                                7
                            </a>
                        </div>
                        <span class="price">14,000$</span>
                        <div class="content-area">
                            <h6 class="title"><a href="/car-details/mercedes-benz-e-class">Mercedes-Benz E-Class</a></h6>
                            <ul class="feature-area">
                                <li>
                                    <img src="/assets/images/portfolio/feature-icon/01.svg" alt="mileage">
                                    100 Miles
                                </li>
                                <li>
                                    <img src="/assets/images/portfolio/feature-icon/02.svg" alt="fuel">
                                    Petrol
                                </li>
                                <li>
                                    <img src="/assets/images/portfolio/feature-icon/03.svg" alt="transmission">
                                    Automatic
                                </li>
                            </ul>
                            <div class="button-area">
                                <p class="">$400</p>
                                <a href="/car-details/mercedes-benz-e-class" class="rts-btn btn-primary radius-small">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Sold Car Card End -->
            </div>
        </div>
    </div>
</section>
<!-- Pricing End -->

<!-- Brand Area Start -->
<section class="rts-brand-area">
    <div class="container">
        <div class="section-title-area2">
            <p class="sub-title wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s">Partners</p>
            <h2 class="section-title wow move-right">Browse by <span>Company</span></h2>
        </div>
        <div class="section-inner mt--80">
            <ul>
                <li class="wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1s">
                    <img src="/assets/images/brand/01-w.svg" alt="brand">
                </li>
                <li class="wow fadeInUp" data-wow-delay=".4s" data-wow-duration="1s">
                    <img src="/assets/images/brand/02.svg" alt="brand">
                </li>
                <li class="wow fadeInUp" data-wow-delay=".6s" data-wow-duration="1s">
                    <img src="/assets/images/brand/03.svg" alt="brand">
                </li>
                <li class="wow fadeInUp" data-wow-delay=".8s" data-wow-duration="1s">
                    <img src="/assets/images/brand/04.svg" alt="brand">
                </li>
                <li class="wow fadeInUp" data-wow-delay="1s" data-wow-duration="1s">
                    <img src="/assets/images/brand/05.svg" alt="brand">
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- Brand Area End -->

<!-- CTA Area Start -->
<div class="rts-cta-area area-2">
    <div class="container">
        <div class="cta-inner">
            <h2 class="title">If you have any questions Please Call.</h2>
            <div class="contact">
                <a href="tel:+16544521505">
                    <img src="/assets/images/cta/call.svg" alt="call icon">
                    +1-654-452-1505
                </a>
            </div>
            <img class="shape one" src="/assets/images/cta/round.svg" alt="shape">
            <img class="shape two" src="/assets/images/cta/line.svg" alt="shape">
        </div>
    </div>
</div>
<!-- CTA Area End -->
